#content
  .post
    %ul.tags
      %li
        =link_to "在这里吃晚餐" ,:controller => :tweets, :action => :new , :can => @can.id
      %li
        %a{ :href => "#" } 看看怎么走
      %li
        %a{ :href => "#" } 下次来这儿吃                                   
    .regular
      %h2
        =link_to @can.name,@can
      .text
        #myCarousel.carousel
          .carousel-inner
            .active.item
              %img{ :src => "http://wrongwaycn.github.com/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-03.jpg"}
              .carousel-caption
                %h4 标题
                %p 描述
            .item
              %img{ :src => "http://wrongwaycn.github.com/bootstrap/docs/assets/img/bootstrap-mdo-sfmoma-03.jpg"}
                .carousel-caption
                  %h4 标题2
                  %p 描述
          %a.carousel-control.left{ :href => "#myCarousel", 'data-slide' => "prev"} &lsaquo;
          %a.carousel-control.right{ :href => "#myCarousel", 'data-slide' => "next"} &rsaquo;
        %p
          %h3=@can.name
        %p= t 'description' # + @can.description.to_s
        %p= t 'address: ' + @can.address
        %p= t 'telephone: ' + @can.telephone
        %p 特色菜
        %p 标签
